.masonry-wrapper {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-direction: row;
  align-content: stretch;
  justify-content: center;

  .masonry-column {
    display: flex;
    width: 0;
    flex: 1;
    flex-direction: column;
    align-content: stretch;
    justify-content: flex-start;
  }
}
