@use '../../styles/styles';

.page-wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 100vh;
  justify-content: center;
  background-color: styles.$gray-10;

  .page-scroll-layer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;

    .page-content {
      position: relative;
      width: 1150px;
      padding: 8px 80px 0;

      .card-list-wrapper {
        display: flex;
        width: 100%;
        min-height: 1000px;
        justify-content: center;
        padding-bottom: 0;
      }

      .data-fetching-sensor {
        position: absolute;
        bottom: 0;
        width: 990px;
        height: 100px;
      }
    }

  }
}

.sb-modal-content {
  width: 900px;
  height: 400px;
  background-color: styles.$white;
  box-shadow: 0 0 15px 7px rgb(0 0 0 / 25%);
}
