@use '../../styles/styles';

.sb-modal-content {
  width: 900px;
  height: 400px;
  background-color: styles.$white;
  box-shadow: 0 0 15px 7px rgb(0 0 0 / 25%);
}

.page-wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 100vh;
  justify-content: center;
  background-color: styles.$gray-10;

  .page-scroll-layer {
    display: flex;
    width: 100%;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;

    .page-content {
      width: 1150px;
      padding: 80px;

      .page-header {
        > h1 {
          @include styles.font(title, '4xl', 500);
        }

        > p {
          margin-bottom: 16px;
          font-style: italic;
          @include styles.font(text, 'md', 400);
        }

        .main-page-search-box {
          margin-bottom: 24px;
        }
      }

      .card-list-wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
        padding-bottom: 120px;
      }
    }
  }
}
